<form class='form-horizontal' id='customer-form'>
    <fieldset>
        <div class='control-group'>
            <label class='control-label' for='firstname'>First Name:</label>
            <div class='controls'>
                <input type='text' class='input-xlarge' id='firstname' name='firstname' value='{{=it.firstname}}'>
            </div>
        </div>
        <div class='control-group'>
            <label class='control-label' for='lastname'>Last Name:</label>
            <div class='controls'>
                <input type='text' class='input-xlarge' id='lastname' name='lastname' value='{{=it.lastname}}'>
            </div>
        </div>
        <div class='control-group'>
            <label class='control-label' for='address'>Address:</label>
            <div class='controls'>
                <input type='text' class='input-xlarge' id='address' name='address' value='{{=it.address}}'>
            </div>
        </div>
        <div class='control-group'>
            <label class='control-label' for='city'>City:</label>
            <div class='controls'>
                <input type='text' class='input-xlarge span2' id='city' name='city' value='{{=it.city}}'>
            </div>
        </div>
        <div class='control-group'>
            <label class='control-label' for='state'>State:</label>
            <div class='controls'>
                <input type='text' class='input-xlarge span1' id='state' name='state' value='{{=it.state}}'>
            </div>
        </div>
    </fieldset>
</form>